<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">CL-tipset 2014</div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i>Hem</a></li>
                <li><a href="#/my"><i class="fa fa-shield"></i>Spela</a></li>
                <li><a href="#/toplist"><i class="fa fa-shield"></i>Topplista</a></li>
                <li><a href="#/all"><i class="fa fa-shield"></i>Alla rader</a></li>
                <li><a href="#/results"><i class="fa fa-shield"></i>Resultat</a></li>
                <li><a href="#/settings"><i class="fa fa-shield"></i>Inställningar</a></li>
                <li ng-show="isLoggedIn"><a href="#" ng-click="logout()">Logga ut</a></li>
                <li ng-hide="isLoggedIn"><a href="/api/login">Logga in</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>