.results td {
    padding-right: 15px;
}

.results button {
    margin-top: 15px;
}

.results legend {
    padding-top: 15px;
}

.myplays td {
    padding-right: 15px;
}

.myplays button {
    margin-top: 15px;
}

.myplays legend {
    padding-top: 15px;
}

.correct {
    background-color: green;
}

.add-round {
    margin-top: 25px;
}

.add-round button {
    margin-top: 0;
}

.nameAndCutOff {
    margin-top: 40px;
}

body {
    padding-top: 60px;
}

